<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- {{ blogs.all }} 객체들을 표시 -->

    <!-- {% for blogs in blogs.all %} blogs.all 모든 객체들을 보여주겠다.
    <div class="container">
        <h1>{{blogs.title}}</h1>
        <p>{{blogs.pub_date}}</p>
        <p>{{blogs.body}}</p>
    </div>
    {% endfor %} html은 for문이 끝났다고 적어줘야함 -->
    <h1>메인페이지입니다.</h1>
    {% if user.is_authenticated %} <!--유저가 접속했는지 물어봄-->
    안녕하세요! {{user.username}}님!!
    마지막  접속일 {{user.last_login}}입니다.
    <a href="{%url 'logout'%}"><p>로그아웃</p></a>
    {% else %}
    <a href="{%url 'signup'%}"><p>회원가입</p></a>
    <a href="{%url 'login'%}"><p>로그인</p></a>
    {% endif %}
    <a href="{%url 'new'%}"><h1>글쓰기</h1></a>
    
    <!-- url에 있는 new라는 애칭을 가진 아이한테로 간다 -->
    {%for i in blog_all%}
        {{i.title}}<br>
        {{i.body}}<br>
        {{i.create_date}}<br>
    {%endfor%}
</body>
</html>